<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" srcset="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="Button group">

            <button id="my-dropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Manage Recipe</button>
            <ul class="dropdown-menu custom-ulclass toggle-body" aria-labelledby="my-dropdown">
                <li> <a class="dropdown-item active" href="#">To Shooping List</a> </li>
                <li> <a class="dropdown-item active" href="#">Edit Recipe</a> </li>
                <li> <a class="dropdown-item active" href="#">Delete Recipe</a> </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingedrians</p>
    </div>
</div>